.cpd_table {
	width: 100%;	
}

.cpd_table td {
	padding: 5px;	
	vertical-align: top;
}

.cpd_table div {
	padding: 2px;	
	border: 1px #ccc solid;
}

.cpd_table h3 {
	padding: 5px;
	margin-top: 0;
	background-color: #CFEBF7;
}

.cpd_table span {
	font-size: larger;
	color: #f00;
}

.cpd_table ul {
	padding-left: 10px;
	list-style: none;
}
