.cpd_table {
	width: 100%;	
}

.cpd_table td {
	padding-right: 10px;
	vertical-align: top;
}

.cpd_table li {
	color: #777;
}

.cpd_table li b {
	font-family: Georgia,"Times New Roman",Times,serif;
	color: #2583ad;
	font-size: 18px;
}

.cpd_table li span {
	color: #f00;
}

.cpd_table ul {
	list-style: none;
}
